@model IEnumerable<ComputerTypingWebApp.Models.Students>

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string CurrentDashboard = HttpContextAccessor.HttpContext.Request.Query["dashId"];
    if (CurrentDashboard == "4")
    {
        Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
@{
    ViewData["Title"] = "REPORTINGSTUDENTGROWTH";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="row col-lg-12">
    <div class="form-group">
        <h5 class="row col-12 card py-2" style="background-color:ghostwhite; text-align: center;">
            REPORTING STUDENT GROWTH
        </h5>
    </div>
</div>

    <div class="row col-12">
        <table class="table table-bordered table-hover table-responsive">
            <thead style="background-color: #f8f9fa; color: #333; text-align: center; font-weight: bold; font-size: 1.1rem;">
                <tr>
                    <th style="padding: 10px; border-bottom: 2px solid #dee2e6;">Date</th>
                    <th style="padding: 10px; border-bottom: 2px solid #dee2e6;">Student First Name</th>
                    <th style="padding: 10px; border-bottom: 2px solid #dee2e6;">Student Last Name</th>
                    <th style="padding: 10px; border-bottom: 2px solid #dee2e6;">Profile Photo</th>
                    <th style="padding: 10px; border-bottom: 2px solid #dee2e6;">GROWTH</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr style="text-align: center; background-color: #ffffff; transition: background-color 0.3s ease;">
                        <td style="padding: 10px;">@student.DateAdd</td>
                        <td style="padding: 10px;">@student.FirstName</td>
                        <td style="padding: 10px;">@student.LastName</td>
                        <td style="padding: 10px;">
                            <img src="~/uploads/@student.IdentityPicURL" alt="Profile Photo" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; border: 1px solid #ccc;" />
                        </td>
                        <td style="padding: 10px;">
                        <a title="View Growth Details" asp-action="ViewStudentGrowthDetails" asp-controller="Admin" asp-route-id="@student.Id">
                            <i class="fas fa-search"
                               style="font-size: 2rem; color: darkgrey; transition: color 0.3s ease;"
                               onmouseover="this.style.color='rgba(0, 0, 0, 0.8)'"
                               onmouseout="this.style.color='darkgrey'"></i>
                        </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>