################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComputerTypingWebApp/FileContentIndex/852db0aa-232c-46e7-ab5f-d4b00a829b21.vsidx
/.vs/ComputerTypingWebApp/FileContentIndex
