
@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<style>
    .textbox {
        border-color: black;
        background-color: white;
        height: 20px;
        width: 40%;
    }
</style>

<p class="h4"> <u>Add Gender</u> </p>

<form method="post">
    <div class="form-group">
        <label for="nameofinstitute">Gender</label>
        <input type="text" class="form-control textbox" name="nameofGender" id="nameofGender" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" asp-action="SaveGender" asp-controller="SuperAdmin" />
</form>