
@{
    ViewData["Title"] = "AddHandicap";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


<style>
    .textbox {
        border-color: black;
        background-color: white;
        height: 20px;
        width: 40%;
    }
</style>

<p class="h4"> <u>Add New Handicap</u> </p>

<form method="post">
    <div class="form-group">
        <label for="Handicap">Handicap</label>
        <input type="text" class="form-control textbox" name="Handicap" id="Handicap" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" asp-action="SaveHandicap" asp-controller="SuperAdmin" />
</form>