* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

body {
    background-color: rgb(225, 226, 227);
}

#typingParagraphHolder {
    background-color: white;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 50px;
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#typingKeyboard {
    background-color: rgb(225, 226, 227);
    border-radius: 10px;
    opacity: 1;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 3px 0px;
}

.js-keyboard-holder {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#typingBackground {
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(225, 226, 227);
    height: 300px;
    opacity: 1;
}

.keyboard-row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
    font-family: pt-mono, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    margin-left: 10px;
    margin-right: 10px;
}

.keyboard-key {
    flex: 1;
    flex-basis: 40px;
    margin-right: 5px;
}

.key {
    border-radius: 10px;
    border: 1px solid rgb(129, 129, 129);
    margin: 4px;
    text-align: center;
    align-content: center;
    height: 40px;
    padding: 2px;
    box-shadow: 0px 0px 2px 0px;
}

.key--special {
    text-transform: lowercase;
    flex: 74px;
    align-content: end;
}

.text-error {
    color: black;
    background-color: rgb(255, 136, 136);
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgb(172, 255, 172);
}

.text-good {
    color: black;
    background-color: rgb(175, 255, 175);
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgb(172, 255, 172);
}

.text-active {
    text-decoration: underline;
    animation: blink 1s infinite;
}

.key-active {
    background-color: rgb(74, 255, 140) !important;
}

.ch {
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
}
.ch {
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
}
@font-face {
  font-family: 'KrutiDev';
  src: url('/assets/fonts/KrutiDev010.TTF');
}
.krutidev {
  font-family: 'KrutiDev', sans-serif;
}
@keyframes blink {
  0% {
    text-decoration-color: transparent;
  }
  25% {
    text-decoration-color: currentColor;
  }
  50% {
    text-decoration-color: transparent;
  }
  75% {
    text-decoration-color: currentColor;
  }
  100% {
    text-decoration-color: transparent;
  }
}
#timer {
    border: 1px solid #b8b8b8;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
}
#resultBody {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.resultCard {
    width: 200px;
    height: 100px;
    font-size: 14px;
}
